{:paths ["src" "resources"]
 :aliases
 {:bb
  {:extra-deps
   {org.babashka/spec.alpha {:git/url "https://github.com/babashka/spec.alpha"
                             :git/sha "1a841c4cc1d4f6dab7505a98ed2d532dd9d56b78"}}}
  :clj
  {:extra-deps
   {babashka/babashka.curl {:mvn/version "0.1.2"}
    cheshire/cheshire {:mvn/version "5.10.2"}
    http-kit/http-kit {:mvn/version "2.5.3"}
    io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "b3fd0d2"}
    org.clojure/core.async {:mvn/version "1.5.648"}
    org.clojure/data.xml {:mvn/version "0.2.0-alpha8"}
    org.clojure/tools.logging {:mvn/version "1.2.4"}}
   :jvm-opts ["-Djdk.httpclient.allowRestrictedHeaders=host"]}
  :dev
  {:extra-paths ["dev"]
   :extra-deps
   {com.cognitect.aws/ec2
    {:mvn/version "822.2.1122.0", :aws/serviceFullName "Amazon Elastic Compute Cloud"},
    com.cognitect.aws/endpoints {:mvn/version "1.1.12.192"}
    com.cognitect.aws/lambda {:mvn/version "822.2.1122.0", :aws/serviceFullName "AWS Lambda"},
    com.cognitect.aws/s3
    {:mvn/version "822.2.1109.0", :aws/serviceFullName "Amazon Simple Storage Service"}
    com.cognitect.aws/ssm
    {:mvn/version "822.2.1122.0", :aws/serviceFullName "Amazon Simple Systems Manager (SSM)"}
    com.cognitect.aws/sts
    {:mvn/version "822.2.1109.0", :aws/serviceFullName "AWS Security Token Service"}}}
  :test
  {:extra-paths ["test"]
   :exec-fn cognitect.test-runner.api/test}
  :lint-ns
  {:replace-deps {com.github.clojure-lsp/clojure-lsp {:mvn/version "2022.04.18-00.59.32"}}
   :exec-fn clojure-lsp.api/clean-ns!
   :exec-args {:dry? true}}
  :aws-api
  {:extra-deps {}}}}
